<div class="row">
  <div class="large-12 columns">
    <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.text_field :plate_number, placeholder: "License Plate", class: "large-4" %>
        <%= f.text_field :email, placeholder: "Email", class: "large-4" %>
        <%= f.button "Watch My Plates"  %>
    <% end %>
  </div>
</div>