<div class="row">
  <div class="large-12 columns">
    <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
          <div class="large-12 columns">
            <%= f.text_field :plate_number, placeholder: "License Plate", class: "large-4" %>
            <%= f.text_field :email, placeholder: "Email", class: "large-4" %>
            <span>We promise we'll <em>never</em> share your information with anyone else. Ever.</span>
            <%= f.button "Watch My Plates", class: "right large"  %>

          </div>
        </div>
        <div class="row" style="margin-top: 1em;">
          <div class="large-12 columns">
          </div>
        </div>
    <% end %>
  </div>
</div>