<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Ticket Tracker – Never miss a parking ticket again" %></title>

  	<%= stylesheet_link_tag "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42652443-1', 'herokuapp.com');
        ga('send', 'pageview');

    </script>
  </head>

  <body>

    <%= yield %>

    
    <%= javascript_include_tag "application" %>
    <footer>
      <div class="row" style="margin-top: 30px;">
        <div class="large-12 columns">
          <p>You may also like:</p>
          <ul>
            <li style="display: inline; padding-right: 30px;"><a style="color:#00A0B0;" href="http://www.eggwichapp.com?utm_medium=web&utm_campaign=ticket_tracker&utm_source=ticket_tracker">EggWich</a> – The Breakfast Sandwich App in San Francisco</li>
            <li style="display: inline;"><a style="color:#00A0B0;" href="http://www.hjhart.com/">hjhart.com</a> – James Hart's Portfolio</li>
          </ul>

        </div>
      </div>
    </footer>
  </body>
</html>
